@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.tudo, body{
    background-color: black;
}
header {
    border: 10px outset white;
    padding: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    animation-name: head;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes head {
    from {
        transform: translateY(-400px);
    }
    to {
        transform: translateY(0px);
    }
}
.pesquisar {
    border: 2px outset white;
    color: white;
    background-color: black;
    border-radius: 10px;
    height: 30px;
    margin: 5px;
    width: 20vw;
    /*
    animation-name: pesq;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    */
}
/*
@keyframes pesq {
    from {
        transform: translateX(600px);
    }
    to {
        transform: translateX(0px);
    }
}
*/
.logo {
    border: 7px outset rgba(224, 102, 102, 0.863);
    margin: 5px;
    width: 65vw;
    height: 220px;
    /*
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    */
}
/*
@keyframes logo {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0px);
    }
}
*/
img {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: white;
}
nav {
    height:auto;
    padding:20px;
    padding-left: 25px;
    border: 10px outset white;
    background-color: rgba(0, 0, 0, 0.966);
    margin-top: 15px;
}
.páginas{
    border: 5px outset white;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    flex-wrap: wrap;
    font-family: 'Square Peg', cursive;
    font-size: x-large;
} 
.página {
    display: block;
    margin: 5px;
}
.título {
    display: flex;
    justify-content: center;
    border: 5px outset white;
    border-radius: 20px;
    margin-top: 15px;
    font-family: 'Square Peg', cursive;
    font-size: xx-large;
    color: white;
    }
.cor {
    color: rgba(224, 102, 102, 0.863);
}
main {
    height: 90vw;
    padding:10px;
    border: 10px outset white;
    background-color: rgba(0, 0, 0, 0.966);
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    }
.bloco1 {
    position: relative;
    background-color: yellow;
    width: 10vw;
    height: 10vw;
    animation-name: bl1;
    animation-duration: 17s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /*amarelo, azul, branco, laranja*/
}
@keyframes bl1 {
    0%   {
        background-color:yellow; 
        left:10vw; 
        top:0vw;
    }   

    25%  {
        background-color:yellow; 
        left:75vw; 
        top:0vw;
    }
    50%  {
        background-color:yellow; 
        left:75vw; 
        top:65vw;
    }
    75%  {
        background-color:yellow; 
        left:36vw;
        top:65vw;
    }
    90% {
        background-color:yellow;
        left:36vw; 
        top:37.8vw;
    }
    100% {
        height: 12vw;
        background-color:transparent; 
        left:36vw; 
        top:37.8vw;
        display: none;
    }
}
.bloco2 {
    position: relative;
    border: 2px solid transparent;
    background-color: red;
    width: 10vw;
    height: 10vw;
    animation-name: bl2;
    animation-duration: 17s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /*amarelo, azul, branco, laranja*/
}
@keyframes bl2 {
    0%   {
        background-color:aqua; 
        left:75vw; 
        top:0vw;
    }   

    25%  {
        background-color:aqua; 
        left:75vw; 
        top:55vw;
    }
    50%  {
        background-color:aqua; 
        left:10vw; 
        top:55vw;
    }
    75%  {
        background-color:aqua; 
        left:10vw;
        top:16vw;
        }
    90% {
        background-color:aqua;
        left:36vw; 
        top:16vw;
    }
    99% {
        background-color:transparent; 
        left:36vw; 
        top:16vw;
        display: none;
    }
    100% {
        background-color:transparent; 
        left:23vw; 
        top:13vw;
        display: none;
    }
}
.bloco3 {
    position: relative;
    border: 2px solid transparent;
    background-color: red;
    width: 10vw;
    height: 10vw;
    animation-name: bl3;
    animation-duration: 17s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /*amarelo, azul, branco, laranja*/
}
@keyframes bl3 {
    0%   {
        background-color:white; 
        left:75vw; 
        top:45vw;
    }   

    25%  {
        background-color:white; 
        left:10vw; 
        top:45vw;
    }
    50%  {
        background-color:white; 
        left:10vw; 
        top:5.5vw;
    }
    75%  {
        background-color:white; 
        left:45vw;
        top:5.5vw;
    }
    90% {
        background-color:white;
        left:45vw; 
        top:5.5vw;
    }
    100% {
        background-color:transparent; 
        left:45vw; 
        top:5.5vw;
        display: none;
    }
}
.bloco4 {
    position: relative;
    border: 2px solid transparent;
    background-color: red;
    width: 10vw;
    height: 10vw;
    animation-name: bl4;
    animation-duration: 17s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /*amarelo, azul, branco, laranja*/
}
@keyframes bl4 {
    0%   {
        background-color:orange; 
        left:10vw; 
        top:35vw;
    }   

    25%  {
        background-color:orange; 
        left:10vw; 
        top:5.5vw;
    }
    50%  {
        background-color:orange; 
        left:45vw; 
        top:5.5vw;
    }
    75%  {
        background-color:orange; 
        left:45vw;
        top:5.5vw;
    }
    90% {
        background-color:orange;
        left:45vw; 
        top:5.5vw;
    }
    100% {
        background-color:transparent; 
        left:45vw; 
        top:5.5vw;
        display: none;
    }
}
.gokAnima{
    border:5px outset rgba(224, 102, 102, 0.863);
    animation-name: gok;
    animation-duration: 3s;
    animation-delay: 16.9s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity:0;
}
@keyframes gok {
    from {
        opacity: 0;
    }
    to {
        height: 40vw;
        width: 40vw;
        opacity: 1;
    }
}

footer {
    height:auto;
    padding:20px;
    padding-left: 25px;
    border: 10px outset white;
    background-color: rgba(0, 0, 0, 0.966);
    margin-top: 15px;
    font-family: 'Square Peg', cursive;
    font-size: xx-large;
    }
    .logo-footer{
    height:230px;
    border: 7px outset rgba(224, 102, 102, 0.863);
    margin-bottom: 20px;
    }
    .links{
    border: 4px outset rgba(224, 102, 102, 0.863);
    width: 20vw;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    color: white;
    }
    .links-div{
        display: flex;
        flex-direction: row;
    }
    .ama {
        animation-name: ana;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction:alternate;
        animation-fill-mode: forwards;
    }
    @keyframes ana {
        from {
            color: white;
        }
        to {
            color: rgba(224, 102, 102, 0.863);
        }
    }
/*
@media (max-width: 1200px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    
}
*/

@media (max-width: 700px) {
    .logo {
        width: 100vw;
    }
    .pesquisar {
        margin-bottom: 20px;
        margin-top: 30px;
        width: 80vw;
    }
    .páginas{
        flex-direction: column;
        align-items: center;
    } 
    .links-div{
        flex-direction: column;
    }
    .links {
        width: 80vw;
    }
    /*
    main {
        grid-template-columns: 1fr;
    }
    */
}