@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.tudo, body{
    background-color: black;
}
header {
    border: 10px outset white;
    padding: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    /*
    animation-name: head;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
*/
}
/*
@keyframes head {
    from {
        transform: translateY(-400px);
    }
    to {
        transform: translateY(0px);
    }
}
*/
.pesquisar {
    border: 2px outset white;
    color: white;
    background-color: black;
    border-radius: 10px;
    height: 30px;
    margin: 5px;
    width: 20vw;
    animation-name: pesq;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes pesq {
    from {
        transform: translateX(600px);
    }
    to {
        transform: translateX(0px);
    }
}
.logo {
    border: 7px outset rgba(224, 102, 102, 0.863);
    margin: 5px;
    width: 65vw;
    height: 220px;
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes logo {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0px);
    }
}
img {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: white;
}
.ama {
    animation-name: ana;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
@keyframes ana {
    from {
        color: white;
    }
    to {
        color: rgba(224, 102, 102, 0.863);
    }
}
nav {
    height:auto;
    padding:20px;
    padding-left: 25px;
    border: 10px outset white;
    background-color: rgba(0, 0, 0, 0.966);
    margin-top: 15px;
}
.páginas{
    border: 5px outset white;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    flex-wrap: wrap;
    font-family: 'Square Peg', cursive;
    font-size: x-large;
} 
.página {
    display: block;
    margin: 5px;
}
.título {
    border: 5px outset white;
    border-radius: 20px;
    margin-top: 15px;
    padding: 5px;
    font-size: xx-large;
    color: white;
    text-align: center;
    }
.cor {
    color: rgba(224, 102, 102, 0.863);
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    padding:10px;
    border: 10px outset white;
    background-color: rgba(0, 0, 0, 0.966);
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    }
table, td, th, caption {
    color: white;
    border: outset white;
    padding: 5px;
    text-align: center;
}
table {
    margin: 15px;
    border: 5px outset white;
}
caption {
    margin-bottom: 10px;
    color: rgba(224, 102, 102, 0.863);
}
footer {
    height:auto;
    padding:20px;
    padding-left: 25px;
    border: 10px outset white;
    background-color: rgba(0, 0, 0, 0.966);
    margin-top: 15px;
    font-family: 'Square Peg', cursive;
    font-size: xx-large;
    }
    .logo-footer{
    height:230px;
    border: 7px outset rgba(224, 102, 102, 0.863);
    margin-bottom: 20px;
    }
    .links{
    border: 4px outset rgba(224, 102, 102, 0.863);
    width: 20vw;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    color: white;
    }
    .links-div{
        display: flex;
        flex-direction: row;
    }
@media (max-width: 700px) {
    .logo {
        width: 100vw;
    }
    .pesquisar {
        margin-bottom: 20px;
        margin-top: 30px;
        width: 80vw;
    }
    .páginas{
        flex-direction: column;
        align-items: center;
    } 
    .links-div{
        flex-direction: column;
    }
    .links {
        width: 80vw;
    }
}
@media (max-width: 930px) {
    main {
        grid-template-columns: 1fr;
    }
}
